<div class="jumbotron">
  <h1>Welcome to our mini-chat!</h1>
  <p class="lead">Please sign in via one of the social networks to start chatting</p>
  <% if user_signed_in? %>
	Signed in as <%= current_user.name %>. Not you?
	<%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
	<% else %>
	<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
	<%= link_to  "Sign in with Twitter", user_omniauth_authorize_path(:twitter)  %> 
	<%= link_to "Sign in with Linkedin",user_omniauth_authorize_path(:linkedin) %>
    <% end %>
</div>